{% extends "_base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Contact Us | Ramos Realty {% endblock %}
{% block meta_description %}Get in touch with Ramos Realty  for all your real estate inquiries and support.{% endblock %}
{% block meta_keywords %}e-Swift, real estate, contact, support, inquiries{% endblock %}
{% block css %}{% static 'css/home.css' %}{% endblock %}
{% block other_css %}{% static 'css/contact.css' %}{% endblock %}


{% block og_title %}Contact Us | Ramos Realty {% endblock %}
{% block og_description %}Get in touch with Ramos Realty  for all your real estate inquiries and support.{% endblock %}
{% block og_image %}{% static 'img/contact_og_image.jpg' %}{% endblock %}
{% block og_url %}{{ request.build_absolute_uri }}{% endblock %}
{% block og_type %}website{% endblock %}

{% block twitter_title %}Contact Us | Ramos Realty {% endblock %}
{% block twitter_description %}Get in touch with Ramos Realty  for all your real estate inquiries and support.{% endblock %}
{% block twitter_image %}{% static 'img/contact_twitter_image.jpg' %}{% endblock %}


{% block content %}  
{% include 'messages.html' %}

<section class="contact animate-on-scroll">

    <div class="inner-contact wrapper">
        <div class="contact-text-container">
            <h3>Hello, we would love to hear from you</h3>
        </div>
      
    </div>
</section>  

<section class="contact-container animate-on-scroll">
    <div class="contact-info-container wrapper">
        <div class="container-flex">
            <div class="contact-text-info">
                <div class="top-container">
                    <h3>Get in touch</h3>
                    <div class="contact-details">
                        <p>Lagos, Nigeria</p>
                        <span>
                            <a href="tel:+2347014498006">08133355522</a>
                        </span>
                        <span>
                            <a href="mailto:homeconnectoffice1@gmail.com">
                                 hello@ramosrealestateng.com
                            </a>
                        </span>
    
                    </div>
                </div>
                <p>Office Address: Chevron Dr, Eti-Osa, Lekki 101233, Lagos</p>
            </div>
    
            <div class="contact-form-container">

                <h3>Contact</h3>

                <form method="post" class="form" action="{% url 'contact' %}">
                    {% csrf_token %}
                    
                    <div class="form-details">
                        <label class="label" for="id_name">Name</label>
                        {% render_field contact_form.name placeholder='Name' type='text' class+="form-input" %}
                        {% if contact_form.errors.name %}
                            <p class="error">{{ contact_form.errors.name }}</p>
                        {% endif %}
                    </div>
                
                    <div class="form-details">
                        <label class="label" for="id_phone_number">Phone</label>
                        {% render_field contact_form.phone_number placeholder='Phone' class+="form-input" %}
                        {% if contact_form.errors.phone_number %}
                            <p class="error">{{ contact_form.errors.phone_number }}</p>
                        {% endif %}
                    </div>
                
                    <div class="form-details">
                        <label class="label" for="id_email">Email Address</label>
                        {% render_field contact_form.email placeholder='Email Address' class+="form-input" %}
                        {% if contact_form.errors.email %}
                            <p class="error">{{ contact_form.errors.email }}</p>
                        {% endif %}
                    </div>
                
                    <div class="form-details">
                        <label class="label" for="id_subject">Location</label>
                        {% render_field contact_form.location placeholder='Location' class+="form-input" %}
                        {% if contact_form.errors.location %}
                            <p class="error">{{ contact_form.errors.location }}</p>
                        {% endif %}
                    </div>
                
                    <div class="form-details">
                        <label class="label" for="id_message">Message</label>
                        {% render_field contact_form.message rows="10" cols="5" placeholder='Message' class+="textarea" %}
                        {% if contact_form.errors.message %}
                            <p class="error">{{ contact_form.errors.message }}</p>
                        {% endif %}
                    </div>
                
                    <button class="form-submit" type="submit">Send</button>
                </form>
                
            </div>  
    
        </div>
    </div>

    <div class="map-width wrapper">
        <h2>Location</h2>
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3964.5764773493797!2d3.5351431758164895!3d6.448383124029981!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103bf729a28bcb27%3A0x769337c76eb4f752!2sRamos%20Real%20Estate%20Nigeria!5e0!3m2!1sen!2sng!4v1749817159085!5m2!1sen!2sng" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

 
</section>

<div class="svg-wrapper">
    <svg class="property-svg" width="100%" height="20%" viewBox="0 0 1364 796" fill="none" xmlns="http://www.w3.org/2000/svg">
        <mask id="mask0_568_2013" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="1364" height="796">
        <path d="M0 0.401855H1364V795.368H0V0.401855Z" fill="white"/>
        </mask>
        <g mask="url(#mask0_568_2013)">
        <path d="M1364 676H1258.82V544.744H1211.44V676H1160.08V457.435H1107.68V676H1068.88V497.289H990.519V676H905.691V294.225H762.915V676H731.635V412.997H682.571V676H639.591V149.983H545.337V676H505.707V480.212H438.232V676H413.654V459.334H347.853V676H256.333V339.78H205.593V676H167.639V539.044H100.155V676H0V669.006H93.9963V532.061H173.798V669.006H199.435V332.786H262.501V669.006H341.686V452.34H419.821V669.006H432.064V473.228H511.866V669.006H539.169V143H645.749V669.006H676.412V406.003H737.803V669.006H756.748V287.242H911.859V669.006H984.351V490.306H1075.03V669.006H1101.51V450.451H1166.25V669.006H1205.27V537.75H1264.99V669.006H1364V676Z" fill="#E5E8EA"/>
        </g>
    </svg>
</div>


{% endblock %}