{% load static %}
     <!-- Partners Section -->
     <section class="partners animate-on-scroll">
        <div class="inner-partners wrapper">
            <div class="partners-content">
                <h3>Our Partners</h3>
                <div class="partners-logo">
                    <img src="{% static 'img/ace.svg' %}" alt="Partners Logo">
                    <img src="{% static 'img/gtext.svg' %}" alt="Partners Logo">
                    <img src="{% static 'img/audacia.svg' %}" alt="Partners Logo">
                    <img src="{% static 'img/property-dey.svg' %}" alt="Partners Logo">
                    <img src="{% static 'img/swift-panda.svg' %}" alt="Partners Logo">
                    <img src="{% static 'img/drawboard.svg' %}" alt="Partners Logo">
                </div>
            </div>
        </div>
      </section>