{% extends "_base.html" %}
{% load widget_tweaks %}
{% load static %}
{% load custom_filters %}

{% block title %}{{ properties.title }} Properties Details| Home Connect Global{% endblock %}
{% block meta_description %}Discover details about {{ properties.title }} at Home Connect Global. Explore features, amenities, and more.{% endblock %}
{% block meta_keywords %}HomeConnect Global, real estate, property details, {{ properties.title }}, property features{% endblock %}
{% block css %}{% static 'css/home.css' %}{% endblock %}
{% block other_css %}{% static 'css/properties.css' %}{% endblock %}

{% block og_title %}{{ properties.title }} | Home Connect Global{% endblock %}
{% block og_description %}Discover details about {{ properties.title }} at Home Connect Global. Explore features, amenities, and more.{% endblock %}
{% block og_image %}{{ properties.image.url }}{% endblock %}
{% block og_url %}{{ request.build_absolute_uri }}{% endblock %}
{% block og_type %}website{% endblock %}

{% block twitter_title %}{{ properties.title }} | Home Connect Global{% endblock %}
{% block twitter_description %}Discover details about {{ properties.title }} at Home Connect Global. Explore features, amenities, and more.{% endblock %}
{% block twitter_image %}{{ properties.image.url }}{% endblock %}


{% block content %}
{% include 'messages.html' %}
<main>
    <!-- about -->
    <section class="properties-details-hero animate-on-scroll">
        <div class="properties-details-hero-inner wrapper">
            <div class="properties-grid-container">
                <div class="property-grid">
                    {% for image in images %}
                    <div class="featured-details">
                        <img  loading="lazy" src="{{ image.associated_property_image.url|slice:'0:49' }}w_500,h_500,c_scale/{{ image.associated_property_image.url|slice:'49:' }}" alt="Property Image"/>
                    </div>
                    {%endfor%}
                </div>
            </div>

            
            <div class="property-info">
                <div class="property-text-info">
                    <h3>{{property.title}}</h3>
                    <p>{{property.address}}</p>
                </div>
                <div class="property-price">
                    <img src="{% static 'img/naira-white.svg' %}" alt=" Naira Symbol">
                    <p>{{property.price|format_int_with_commas}} 
                        {% if property.availability == 'Rent' %}
                            <span>/ Annually</span>
                        {% else %}
                            <span></span>
                        {% endif %}
                    </p>
                </div>
            </div>
    </section>

    <!-- Property Information -->
    <section class="services-large-container animate-on-scroll">
        <div class="inner-details wrapper">
            <div class="details-container">
                <div class="services-text">
                    <h3>About Property</h3>
                    <span >{{property.details}}</span>
                </div>
    
                <div class="property-information">
                    <ul class="property-information-left">
                        <li class="property-items">Type:</li>
                        <li class="property-items">Category:</li>
                        <li class="property-items">Numbers of rooms:</li>
                        <li class="property-items">Numbers of Bathrooms:</li>
                        <li class="property-items">Numbers of floors:</li>
                    </ul>
                    <ul class="property-information-right">
                        <li class="property-items">{{property.availability}}</li>
                        <li class="property-items">{{property.category}}</li>
                        <li class="property-items">{{property.no_of_bedrooms }}</li>
                        <li class="property-items">{{property.no_of_bathrooms}}</li>
                        <li class="property-items">{{property.no_of_floors}}</li>
                    </ul>
    
                </div>
            </div>
            
            <div class="features-container">
                <div class="inner-features-container">
                    <h3>Features</h3>
                    <div class="features">
                    {% for feature in features_list %}
                        <h4>{{ feature }}</h4>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="contact-container animate-on-scroll">
        <div class="inner-contact-container wrapper">
            <div class="top-container">
                <div class="contact-form-container">
                    <h3>Contact</h3>
                    <form method="post" class="form" action="{% url 'properties_details' property.slug %}">
                        {% csrf_token %}
                        <div class="form-details">
                            <label class="label" for="name">Name</label>
                            {% render_field property_form.name placeholder='Name' type='text' class+="form-input" %}
                            {% if property_form.errors.name %}
                                <p class="error">{{ property_form.errors.name }}</p>
                            {% endif %}
                        </div>
                        <div class="form-details">
                            <label class="label" for="name">Phone</label>
                            {% render_field property_form.phone_number placeholder='Phone' type='text' class+="form-input" %}
                            {% if property_form.errors.phone_number %}
                                <p class="error">{{ property_form.errors.phone_number }}</p>
                            {% endif %}
                        </div>
                        <div class="form-details">
                            <label class="label" for="name">Email Address</label>
                            {% render_field property_form.email placeholder='Email Address' type='email' class+="form-input" %}
                            {% if property_form.errors.email %}
                                <p class="error">{{ property_form.errors.email }}</p>
                            {% endif %}
                        </div>
                        <div class="form-details">
                            <label class="label" for="name">Message</label>
                            {% render_field property_form.message rows="10" cols="5" placeholder='Message' class+="textarea" %}
                            {% if property_form.errors.message %}
                                <p class="error">{{ property_form.errors.message }}</p>
                            {% endif %}
                        </div>
    
                        <button class="form-submit" type="submit">Send</button>
                    </form>        
                </div>
                <div class="agent-container">
                    {% for agent in agents %}
                    <h3>Agent Information</h3>
                    <img  loading="lazy" src="{{ agent.image.url|slice:'0:49' }}w_500,h_500,c_scale/{{ agent.image.url|slice:'49:' }}" alt="Property Image"/>
    
                    <div class="agent-details">
                        <h3>{{agent.email}}</h3>
                        <p>{{agent.phone_number}}</p>
                    </div>
                    {%endfor%}
                </div>
            </div>

            <div class="map-width">
                <h2>Location</h2>
                {% if property.address %}
                <iframe
                    class="map"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31716.49824672404!2d3.4503737947407345!3d6.450198134905467!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s{{ property.address|urlencode }}!2s{{ property.address|urlencode }}!5e0!3m2!1sen!2sng!4v1706691718033!5m2!1sen!2sng"
                    width="600"
                    height="450"
                    style="border:0;"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"
                ></iframe>
            {% else %}
                <p class="service-info">No address available for this property.</p>
            {% endif %}
              </div>
        </div>
    </section>

    <section class="services-large-container animate-on-scroll">
        <div class="paginated-properties">
            <h3>Similar Properties</h3>

            <div class="properties-grid">
                {%for property in paginated_properties %}
                    <a class="property-link" href="{% url 'properties_details' property.slug %}">
                        <div class="property-card">
                            <div class="property-image">
                                <img loading="lazy" src="{{property.thumbnail.url|slice:'0:49' }}w_500,h_500,c_scale/{{ property.thumbnail.url|slice:'49:' }}" alt="{{property.title}}'s image" />
                            </div>
                            <div class="property-details">
                                <div class="property-details-top">
                                    <div class="property-details-top-inner">
                                        <p>{{property.availability}}</p>
                                        <p>{{property.location}}</p>
                                    </div>
                                    <p>{{property.title}}</p>
                                </div>
                                <div class="properties-details-bottom">
                                    <img src="{% static 'img/naira.svg' %}" alt=" Naira Symbol">
                                    <p>{{property.price|format_int_with_commas}} 
                                        {% if property.availability == 'Rent' %}
                                            <span>/ Annually</span>
                                        {% else %}
                                            <span></span>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>    
                {% empty %}
                    <p class="service-info">No Property Available </p>
                {%endfor%}
           
            </div>

        </div>
    </section>


    <svg class="property-svg" width="100%" height="20%" viewBox="0 0 1364 796" fill="none" xmlns="http://www.w3.org/2000/svg">
        <mask id="mask0_568_2013" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="1364" height="796">
        <path d="M0 0.401855H1364V795.368H0V0.401855Z" fill="white"/>
        </mask>
        <g mask="url(#mask0_568_2013)">
        <path d="M1364 676H1258.82V544.744H1211.44V676H1160.08V457.435H1107.68V676H1068.88V497.289H990.519V676H905.691V294.225H762.915V676H731.635V412.997H682.571V676H639.591V149.983H545.337V676H505.707V480.212H438.232V676H413.654V459.334H347.853V676H256.333V339.78H205.593V676H167.639V539.044H100.155V676H0V669.006H93.9963V532.061H173.798V669.006H199.435V332.786H262.501V669.006H341.686V452.34H419.821V669.006H432.064V473.228H511.866V669.006H539.169V143H645.749V669.006H676.412V406.003H737.803V669.006H756.748V287.242H911.859V669.006H984.351V490.306H1075.03V669.006H1101.51V450.451H1166.25V669.006H1205.27V537.75H1264.99V669.006H1364V676Z" fill="#E5E8EA"/>
        </g>
    </svg>

</main>
{% endblock%}