{% extends "_base.html" %}
{% load static %}

{% block title %}Our Team | Ramos Realty{% endblock %}
{% block meta_description %}Meet the dedicated team at Ramos Realty. Our experienced professionals are here to help you find your perfect property.{% endblock %}
{% block meta_keywords %}e-Swift, real estate team, property experts, real estate professionals, real estate services{% endblock %}
{% block css %}{% static 'css/home.css' %}{% endblock %}
{% block other_css %}{% static 'css/about.css' %}{% endblock %}

{% block og_title %}Our Team |Ramos Realty{% endblock %}
{% block og_description %}Meet the dedicated team atRamos Realty. Our experienced professionals are here to help you find your perfect property.{% endblock %}
{% block og_image %}{% static 'img/team_og_image.jpg' %}{% endblock %}
{% block og_url %}{{ request.build_absolute_uri }}{% endblock %}
{% block og_type %}website{% endblock %}

{% block twitter_title %}Our Team | Ramos Realty{% endblock %}
{% block twitter_description %}Meet the dedicated team at Ramos Realty. Our experienced professionals are here to help you find your perfect property.{% endblock %}
{% block twitter_image %}{% static 'img/team_twitter_image.jpg' %}{% endblock %}
{% block content %}
{% include 'messages.html' %}

<section class="team-large-container animate-on-scroll">
    <div class="inner-team wrapper">
        <h3>Our Team</h3>
        <div class="properties-grid">
            <div class="team-card">
                <img class="team-image" src="{% static 'img/Adeyinka.jpg' %}" alt="Image of a Staff">
                
                <div class="team-mate-details">
                    <h3>Adeyinka Ramos</h3>
                    <p> Founder/CEO</p>
                </div>
            </div>
            <div class="team-card">
                <img src="{% static 'img/chima.jpg' %}" alt="Image of a Staff">
                
                <div class="team-mate-details">
                    <h3> Chima Odinma</h3>
                    <p> Managing Director</p>
                </div>
            </div>
                        <div class="team-card">
                <img src="{% static 'img/Agent.png' %}" alt="Image of a Staff">
                
                <div class="team-mate-details">
                    <h3>Babakayode Lateef-Ibrahim</h3>
                    <p>Senior Sales Executive</p>
                </div>
            </div>
            <div class="team-card">
                <img src="{% static 'img/adeola.png' %}" alt="Image of a Staff">
                
                <div class="team-mate-details">
                    <h3>Adeola Akintayo</h3>
                    <p>Sales Executive</p>
                </div>
            </div>

            <div class="team-card">
                <img src="{% static 'img/agent2.png' %}" alt="Image of a Staff">
                
                <div class="team-mate-details">
                    <h3>Tobenna Modebelu</h3>
                    <p>Rent Manager</p>
                </div>
            </div>
            <div class="team-card">
                <img src="{% static 'img/agent3.png' %}" alt="Image of a Staff">
                
                <div class="team-mate-details">
                    <h3>Danielle Larry-Dim</h3>
                    <p>Facility Manager</p>
                </div>
            </div>
        </div>
    </div>
</section>

<svg class="property-svg" width="100%" height="20%" viewBox="0 0 1364 796" fill="none" xmlns="http://www.w3.org/2000/svg">
    <mask id="mask0_568_2013" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="1364" height="796">
    <path d="M0 0.401855H1364V795.368H0V0.401855Z" fill="white"/>
    </mask>
    <g mask="url(#mask0_568_2013)">
    <path d="M1364 676H1258.82V544.744H1211.44V676H1160.08V457.435H1107.68V676H1068.88V497.289H990.519V676H905.691V294.225H762.915V676H731.635V412.997H682.571V676H639.591V149.983H545.337V676H505.707V480.212H438.232V676H413.654V459.334H347.853V676H256.333V339.78H205.593V676H167.639V539.044H100.155V676H0V669.006H93.9963V532.061H173.798V669.006H199.435V332.786H262.501V669.006H341.686V452.34H419.821V669.006H432.064V473.228H511.866V669.006H539.169V143H645.749V669.006H676.412V406.003H737.803V669.006H756.748V287.242H911.859V669.006H984.351V490.306H1075.03V669.006H1101.51V450.451H1166.25V669.006H1205.27V537.75H1264.99V669.006H1364V676Z" fill="#E5E8EA"/>
    </g>
</svg>

{% endblock %}