{% load static %}

<div class="testimonials-container wrapper">
    <div class="inner-testimonial-container">
        <h3>Client Testimonials</h3>
        <div class="scroller" data-animated="true">
            <div class="testimonial-wrapper ">
                <div class="testimonial">
                    <img src="{% static '/img/marvelous.svg' %}" alt="Image of a client">

                    <div class="testimonial-text">
                        <p>I recently purchased land through Ramos Realty. Their team guided me through every step of the process with professionalism and dedication. I highly recommend their services to anyone looking to get verified land deals for themselves</p>

                        <div class="client">
                            <h4>Marvelous</h4>
                            <p>Land Owner</p>
                        </div>
                    </div>
                </div>
                <div class="testimonial">
                    <img src="{% static '/img/oyin.svg' %}" alt="Image of a client">

                    <div class="testimonial-text">
                        <p>I recently purchased land through Ramos Realty. Their team guided me through every step of the process with professionalism and dedication. I highly recommend their services to anyone looking to get verified land deals for themselves</p>

                        <div class="client">
                            <h4>Marvelous</h4>
                            <p>Land Owner</p>
                        </div>
                    </div>
                </div>
                <div class="testimonial">
                    <img src="{% static '/img/marvelous.svg' %}" alt="Image of a client">

                    <div class="testimonial-text">
                        <p>I recently purchased land through Ramos Realty. Their team guided me through every step of the process with professionalism and dedication. I highly recommend their services to anyone looking to get verified land deals for themselves</p>

                        <div class="client">
                            <h4>Marvelous</h4>
                            <p>Land Owner</p>
                        </div>
                    </div>
                </div>
          
            </div>
        </div>
    </div>
</div>